/* Body */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(45deg, #ff6f61, #007bff); /* Vibrant gradient background */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Navigation */
nav {
    background-color: #333; /* Dark background color */
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
    text-align: center; /* Center align text */
}

nav h1 {
    margin: 0; /* Remove default margin */
    font-size: 2em; /* Adjust font size */
    color: rgba(255, 255, 255, 0.8); /* Off-white color with reduced opacity */
    padding: 10px; /* Add padding */
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none; /* Remove bullet points */
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8); /* Off-white color with reduced opacity */
    padding: 10px 20px; /* Padding around links */
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition on hover */
}

nav ul li a:hover {
    background-color: #007bff; /* Darker background color on hover */
    color: #fff; /* White text color on hover */
}

/* Blog List */
ul.posts {
    margin: 20px auto 40px;
    padding: 0;
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    justify-content: center; /* Center items horizontally */
    list-style: none; /* Remove bullet points */
}

/* Additional CSS to remove remaining bullet points */
ul.posts li {
    list-style: none !important;
}

ul.posts li {
    margin: 10px; /* Add spacing between items */
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s; /* Smooth transition on hover */
}

ul.posts li:hover {
    transform: translateY(-5px); /* Move up on hover for a subtle effect */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Add shadow on hover */
}

ul.posts li a {
    display: block;
    padding: 20px;
    color: #333;
    text-decoration: none;
}

/* Footer */
footer {
    border-top: 1px solid #ccc;
    font-size: 0.9em;
    padding: 20px 0;
    text-align: center;
    background: linear-gradient(45deg, #ff6f61, #007bff);
    margin-top: auto;
}

footer ul {
    margin: 0;
    padding: 0;
}

footer ul li {
    display: inline;
    margin-right: 20px;
}

footer a {
    color: #fff;
}

footer a:hover {
    color: #f0f0f0;
}
